{% extends "base.html" %}
{% block content %}

<h1>Mano uzsakymai</h1>
{% if uzsakymoeilute_list %}
<ul>
    {% for uzsakymoeilute_obj in uzsakymoeilute_list %}
    <li class="{% if uzsakymoeilute_obj.is_overdue %}text-danger{%endif%}">
        <a href="{% url 'uzsakeil-detail' uzsakymoeilute_obj.id %}">{{uzsakymoeilute_obj.paslauga_id.pavadinimas}}</a>
        <p>Planuojama pabaigti iki: {{uzsakymoeilute_obj.grazinti_iki}}</p>
        <p><a href="{% url 'my-order' uzsakymoeilute_obj.id %}"> Keisti - {{uzsakymoeilute_obj.uzsakymas_id.automobilis_id}}</a></p>
    </li>
    {%endfor%}
</ul>
{%else%}
<p>Siuo metu neturite jokiu uzsakymu</p>
{%endif%}
{% endblock %}