{% extends "base.html" %}
{% block content %}

{% if form.errors %}
<p>Prisijungimo klaida, bandykite dar kartą!</p>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Vartotojas:</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Slaptazodis:</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Prisijungti"/>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

<p><a href="{% url 'password_reset' %}">Pamirsote slaptazodi?</a></p>

{% endblock %}